<%- include header %> 


<center><div class="jumbotron"> 
    <h1>BIENVENIDO  ยก <%= user.user_name %>!</h1> 
    <BR>
<BR>
    <br>
    <table border="10" cellpadding="10" ALIGN="CENTER">
        <tr>
            <th><center>AGREGAR PRODUCTOS</center></th>
            <th><center>VISUALIZAR USUARIOS</center></th>
            <tr>
                <td width="50%">
                    <br>
                    <a href="/news" role="button"><img src="https://pbs.twimg.com/profile_images/298019672/simbolocajadeideas_400x400.png" width="300" height="300"></a> 
                </td>

                <td>
                <a href="/usersup" role="button"><img src="https://png2.kisspng.com/20180320/vie/kisspng-point-of-sale-inventory-marketing-business-system-free-vector-customers-5ab195686bd629.6513820815215875604417.png" width="300" height="300"></a>
                </td>
            </tr>
        </tr>
    </table>


<%- include footer %>