<!DOCTYPE html> 

<html> 
<head> 
<meta charset="utf-8"> 
<title>Noticias</title> 
<link rel="stylesheet" 
href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-
beta.2/css/bootstrap.min.css" integrity="sha384-
PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" 
crossorigin="anonymous"> 

</head> 
<body> 
    <nav class="navbar navbar-dark bg-dark"> 
        <ul class="nav navbar-nav"> 
            <li class="active"><a class="navbar-brand mx-auto" 
                href="/home/dashboard"><img src="https://png2.kisspng.com/20180408/rzw/kisspng-logo-computer-icons-button-login-button-5acace76583676.2701724915232405663613.png" width="70" height="70" title="INICIO"></a></a></li> 
            </ul> 
            <ul class="nav navbar-nav navbar-right"> 
                <li><a class="navbar-brand mx-auto"
                     href="/logout"><img src="https://png2.kisspng.com/20180407/ksq/kisspng-business-succession-planning-exit-planning-compute-exit-5ac8e45b5f41a4.5096565615231150993902.png" width="70" height="70" title="SALIR"></a></a></li> 
                    </ul> 
                </nav> 
</nav> 
